@page "/Registrieren"
@model M004_RazorPages.Pages.RegistrierenModel

<h3>Registrieren</h3>

<form method="post">
	Email: <input type="text" name="Email" />
	<br />

	Username: <input type="text" name="Username" />
	<br />

	Passwort: <input type="password" name="Passwort" />
	<br />

	<button>Registrieren</button>
</form>